{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>Página web TeamUs</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/linea-icon.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fancy-buttons.css' %}" />

	<!--=== Google Fonts ===-->
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!--=== Other CSS files ===-->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.vegas.css' %}" />
	<link rel="stylesheet" href="{% static 'css/baraja.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />

	<!--=== Main Stylesheets ===-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

	<!--=== Color Scheme, three colors are available red.css, orange.css and gray.css ===-->
	<link rel="stylesheet" id="scheme-source" href="{% static 'css/schemes/gray.css' %}" />

	<!--=== Internet explorer fix ===-->
	<!-- [if lt IE 9]>
		<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif] -->
    <!-- Se puede cambiar:
    -color de logo
    - fondo header
-->


</head>
<body>

<div id="header" class="header-section parallax" style="background-image: url('{% static 'images/costanera.png' %}');">
	<div id="section-home" class="home-section-wrap center">
		<!--<div class="section-overlay"></div>-->
		<div class="container home">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-2">
					<img src="{% static 'images/organizadores2.png' %}" alt="" style="height: 80px;"/>
				</div>
				<div class="col-md-2">
					<img src="{% static 'images/organizadores1_1.png' %}" alt="" />
				</div>
				<div class="col-md-2">
					<img src="{% static 'images/organizadores3_3.png' %}" alt="" style="height: 100px;" />
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="row">
				<h1 class="well-come">Evento de Innovación</h1>

				<div class="col-md-8 col-md-offset-2">
					<p class="intro-message">Asiste descubre y ofrece tus servicios / productos a miles de personas de la comunidad de <span>FounderList</span> y <span> MercadoLibre </span></p>
					<button type="submit" class="fancy-button button-line large zoom subform">
							<b>¡Quiero asistir!</b>
						</button>
				</div>
			</div>
			<div class="row">
				<a href="#">
					<i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<section id="section-feature" class="feature-wrap">
			<div class="row">
					<div class="col-md-3 section red">
						<div class="row">
							<div class="col-md-12">
								<i class="fa fa-search fa-2x" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Ofrece servicios/ Productos</b>
								</p>
								<p>
									Alcanza a nuestros potenciales clientes y ofreces tus servicios/productos.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 section blue">
						<div class="row">
							<div class="col-md-12">
								<i class="fa fa-search fa-2x" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Encontrar Servicios/ Productos</b>
								</p>
								<p>
									Alcanza a nuestros potenciales clientes y ofreces tus servicios/productos.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 section yellow">
						<div class="row">
							<div class="col-md-12">
								<i class="fa fa-search fa-2x" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Beneficios MercadoLibre y FounderList</b>
								</p>
								<p>
									Beneficios exclusivos, descuentos y más para los asistentes.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 section blue-dark">
						<div class="row">
							<div class="col-md-12">
								<i class="fa fa-search fa-2x" aria-hidden="true"></i>
							</div>
						</div>
						<div class="row box">
							<div class="col-md-12">
								<p>
									<b>Invitación a invertir</b>
								</p>
								<p>
									Introducción de cómo invertir en compañias en etapas tempranas.
									<br>
									<br>
								</p>
							</div>
						</div>
					</div>
		</div>
	</section>
	<!--=== Features section Ends ===-->

	<section id="section-feature" class="feature-wrap">
		<div class="features center">
			<div class="row">
					<div class="col-md-10 col-md-offset-1 center section-title">
					<h3>Ponentes</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 speaker-1" >
						<div class="speaker-1-box">
						</div>
				</div>
				<div class="col-md-6 speaker-content">
						<h3>Edgardo Ochoa</h3>
						<span>Head of BC Labs</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 speaker-content">
						<h3>Alan Meyer</h3>
						<span>Gerente Comercial Chile</span>
				</div>
				<div class="col-md-6 speaker-2">
					<div class="speaker-2-box">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 speaker-3">
					<div class="speaker-3-box">
					</div>
				</div>
				<div class="col-md-6 speaker-content">
						<h3>Sebastián Arias</h3>
						<span>Co-Fundador de FounderList</span>
				</div>
			</div>
		</div>
	</section>

	<section id="step-1" class="section-step step-wrap">
		<div class="container step animated bounceInLeft visible" data-animation="bounceInLeft" data-animation-delay="700">
			<div class="row">
					<div class="col-md-6 center">
						<h3>Organizadores</h3>
					</div>
					<div class="col-md-6 center">
						<h3>Invitan</h3>
					</div>
			</div>
			<div class="row">
				<div class="col-md-6 center">
					<img src="{% static 'images/organizadores1.png' %}" alt="" />
				</div>
				<div class="col-md-6 center">
					<div class="row">
							<div class="col-md-6 center">
										<img src="{% static 'images/organizadores2.png' %}" alt="" />
							</div>
							<div class="col-md-6 center">
										<img src="{% static 'images/organizadores3.png' %}" alt="" />
							</div>
					</div>

				</div>
			</div>

		</div>
	</section>


<!--==== Js files ====-->
<!--==== Essential files ====-->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.baraja.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<!--==== MailChimp Widget plugin ====-->
<script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!--==== Scroll and navigation plugins ====-->
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>

<!--==== Custom Script files ====-->
<!--<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>-->
<section id="section-contact" class="contact-wrap">
	<div class="section-overlay"></div>
		<div class="container contact center animated flipInY visible" data-animation="flipInY" data-animation-delay="1000">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-10 col-md-offset-1 center section-title">
						<h3>Contacto y dudas</h3>
					</div>

					<div class="confirmation">
						<p><span class="fa fa-check"></span></p>
					</div>

					<form class="contact-form support-form">

						<div class="col-lg-12">
							<input id="name" class="input-field form-item field-name placeholder" type="text" required="required" name="contact-name" placeholder="Nombre completo">

							<input id="email" class="input-field form-item field-email placeholder" type="email" required="required" name="contact-email" placeholder="Correo Electrónico">
							<textarea id="message" class="textarea-field form-item field-message placeholder" rows="10" name="contact-message" placeholder="Comentarios"></textarea>
						</div>
						<button type="submit" class="fancy-button button-line button-white large zoom subform">
							Enviar mensaje
							<span class="icon">
								<i class="fa fa-paper-plane-o"></i>
							</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>

<footer>
	<div id="section-footer" class="footer-wrap">
		<div class="footer center">
			<div class="row">
				<div class="col-lg-3">
					<p>Copyright © 2016 <a href="http://www.teamussolutions.com">TeamUs</a></p>
				</div>
				<div class="col-lg-1">
				</div>
				<div class="col-lg-2">
					<p>
						<a href="#">ASISTIR</a>
					</p>
				</div>
				<div class="col-lg-2">
					<p>
						<a href="#">PONENTES</a>
					</p>
				</div>
				<div class="col-lg-2">
					<p>
						<a href="#">ORGANIZADORES</a>
					</p>
				</div>
				<div class="col-lg-2">
					<p>
						<a href="#">LEGAL</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
</body>
</html>
